@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A basic CRUD Web Application developed using ASP.NET Core - By Sing Nekitsing.</p>
</div>
